// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appHeader{
  background: lightgray;
  text-align: center;
  height: 61px;
  padding: 5px;
}

.algo_trading_img{
  width:100%;
}
